<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-slides pager>
  <ion-slide *ngFor = 'let item of latest;'>
    <ion-card (click) = 'openDetail(item.id)'>
      <img height = '229' width = '343' [src]="item.image" />
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{item.summary}}
      </ion-card-content>
    </ion-card>

  </ion-slide>

</ion-slides>


<ion-content *ngIf="showSlides">
  <!--   -->
  <ion-slides #slider (ionSlideNextEnd)="loadNext()" (ionSlidePrevEnd)="loadPrev()" (ionSlideReachEnd) = "destroySubscription()" >
    <ion-slide *ngFor = "let data of dataSave; let idx = index">
        <ion-list>

            <ion-item>
              <ion-label position="floating">Timer</ion-label>
              <ion-input type="number" [(ngModel)]="data.timer" [value]="data.timer" min = "0"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Question</ion-label>
              <ion-textarea [(ngModel)]="data.question" [value]="data.question" cols = "30" rows = "10" placeholder = 'What is the ...?'></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label>Is Multiple Choice? </ion-label>
              <ion-checkbox (ionChange) = 'showOptions(idx)' slot="start" color="primary" [value] = 'data.isMultipleChoice' [(ngModel)] = 'data.isMultipleChoice' ></ion-checkbox>
            </ion-item>

            <ion-list [ngClass] = "{show: data.isMultipleChoice == true, hide: data.isMultipleChoice == false}">
              <ion-item *ngFor = "let each of [0,1,2,3,4]">
                <ion-checkbox [(ngModel)]="data.items[each].isChecked"></ion-checkbox>
                <ion-input class = 'multiplechoice-text' [(ngModel)]="data.items[each].value" [value]="data.items[each].value" [placeholder] = '"option..."'></ion-input>
              </ion-item>
            </ion-list>
            

            <ion-button color = 'warning' *ngIf = 'idx > 0' (click)="goToSlide( idx-1 )">Prev</ion-button>
            <ion-button color = 'primary' (click)="goToSlide( idx+1 )">Next</ion-button>

        </ion-list>          
        
    </ion-slide>
  </ion-slides>
</ion-content>
