@import "../../../../assets/custom_variable.scss";
app-users-login {
    align-items: center;
    justify-content: flex-end !important;
    //editing shadow root
    ::part(native) {
        background-color: $ion-color-primary2;
        border-color: $ion-color-primary2;
    }
    
    ion-item {
        padding: 0 !important;
        margin: -1px; // to remove thin layer of white
        --min-height: 0;
        --padding-start: 0;
        --inner-padding-end: 0;
        text-align: center;

        div.item-highlight {
            color: $ion-color-primary2;
            background: $ion-color-primary2;
        }
    }

    ion-list {
        background-color: $ion-color-primary2 !important;
    }

    ion-input {
        input {
            background-color: $ion-color-primary2 !important;
        }
    }

    background: $ion-color-primary;
    .grid1 {
        height: 100%;
        padding: 0px;
        width: 100%;
    }

    .container-middle {
        text-align: center;
        > ion-grid {
            margin-bottom: calc(30vh - 150px);
           > ion-row {
                height: 4rem;
            }
            ion-icon {
            font-size: 8rem;
            color: #fff;
        }
        }
        // padding-top: 50%;
    }
    
    .contaier-login {
        width: 90%;
        padding: 10px;
        background: $ion-color-primary;

        ion-grid {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    
    .row1 {
        height: 50%;
        background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
        background: -webkit-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
        background: linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);

        ion-col {
            display: flex;
            flex: 1;
            flex-direction: row;
            p {
                font-size: .70rem !important;
                color: #ffffffa3;
            }
            
            ion-icon {
                background-position-x: center;
                background-image: url('~/assets/icon/graduation.png');
                background-repeat: no-repeat;
                background-size: 50% 45%;
                font-size: 22rem;
            }
        }
    }
    
    .row2 {
        height: 50%;
    }

    .label-main {
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
    }
    
    ion-icon {
        margin-right: 15px;
    }
    
    ion-button {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    ion-slide {
        width: 100%;
        height: 100%;
        position: absolute !important;
        top: 0px !important;
    }

    input {
        color: #fff !important;
    }
}
