<div class = "container-middle">
    <ion-grid>
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-row> 
            <ion-col>
                <h1> <p class = "label-main"> UVSA </p> </h1>
            </ion-col>
        </ion-row>
        <ion-row> 
            <ion-col>
                <p class = 'label2'> UVC OPERATIONS SAFETY APP </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>

<div class="contaier-login" color = "dark">
    <form [formGroup]="form" (ngSubmit)="login()">
      <ion-grid>
        <ion-row>
            <ion-col>
                <p class = 'label'> ENTER ACCESS CODE </p>
            </ion-col>
        </ion-row>
          <ion-row>
              <ion-col>
                  <ion-list>
                        <ion-item class = "custom-textbox-color">
                            <ion-input formControlName="username" type="text" required color = "primary"></ion-input>
                        </ion-item>
                  </ion-list>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <p class = 'sub-label'> Request for OTP </p>
              </ion-col>
          </ion-row>
      </ion-grid>
    </form>
    </div>