<div id="container">
  <div *ngIf = 'type === "home"'>
    <ion-card>
      <img src="https://contents.pep.ph/images2/images2/2019/09/27/piolo-pascual-travel-1569578672.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Student of the year</ion-card-subtitle>
        <ion-card-title>Piolo pascual</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Next task is make the login work and 
        make sure that the home scree contains news and student dashboard
        He has proven himself as one of the best consistent student...
      </ion-card-content>
    </ion-card>
    

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</div>



