<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf = "data.subtitle">
    <ion-card class = 'center'>
        <img [src] = 'data.image'>
        <ion-card-header>
          <ion-card-subtitle>{{data.subtitle}}</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
  </div>

  <ion-card>
    <div *ngIf = "data.name">
      <ion-card-header>
        <ion-card-title>{{data.name}}</ion-card-title>
      </ion-card-header>
    </div>
    <div *ngIf = "data.content">
      <ion-card-content>
        {{data.content}}
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
