<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="submitModal()">
        <ion-grid>
          <ion-row>
            <ion-col>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Old Password</ion-label>
                <ion-input [(ngModel)] = 'oldpassword' type="password" name = 'oldpassword'></ion-input>
            </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input [(ngModel)] = 'password1' type="password" name = 'password1'></ion-input>
                </ion-item>
                <ion-item>
                    <!--<ion-icon name="lock-closed-outline"></ion-icon> -->
                    <ion-label position="floating" >Repeat Password</ion-label>
                    <ion-input [(ngModel)] = 'password2' type="password" name = 'password2'></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button type = 'submit' expand = 'block'> Confirm </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>