<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click) = 'goTo("home")'>
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button (click) = 'goTo("history")'>
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button (click) = 'logout()'>
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
