@import "../../../../assets/custom_variable.scss";

app-basic-modal {
    ion-content {
        img {
            border-radius: 8px;
            border:1px solid $ion-color-grey-light;
        }
        ion-button {
            flex: 1;
            display: flex;
        }
    }
    
}