<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src] = "img">
    <ion-card-content>
      <ion-button (click) = "deleteImg()"> Delete Img </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
