@import "../../../../assets/custom_variable.scss";

app-room-history {
    ion-content {
        h2 {
            font-size: .75rem;
            color: $ion-color-grey-lighter;
        }
        p {
            font-size: 1rem;
        }
    }
    ion-item > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    ion-icon {
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-right: .5rem;    
    }
}
