
<ion-content color = "dark">
  <div class = 'div-spinner' *ngIf="!data || !data.length">
    <ion-spinner color = "primary"></ion-spinner>
  </div>

  <div *ngIf="data">
    <div  *ngFor = "let item of data">
      <ion-item color = "dark">
        <div>
          <div class = 'ion-item-content'>
            <h2>{{item.date}} </h2>
            <p>Set {{item.title}} to {{item.safe ? 'SAFE' : 'DANGER' }}</p>
          </div>
          <div>
            <ion-icon name="ellipse" color = "{{ item.safe ? 'primary' : 'danger' }}"></ion-icon>
          </div>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>