<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{data.title}}</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="dismissModal( data.yesvalue )" color = "{{data.yesclass}}" expand="full">{{data.yestitle}}</ion-button>
  <ion-button (click)="dismissModal( data.novalue )" color = "{{data.noclass}}" expand="full">{{data.notitle}}</ion-button>
</ion-content>
