<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>
      <ion-buttons>
        <ion-button class="ion-text-center">
          Profile
        </ion-button>
      </ion-buttons>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--
<div class="ion-padding">
  Test User Logout
  <p>If you get lost, the <a target="_blank" rel="noopener" (click) = "logout()">Logout</a> will be your guide.</p>
</div> -->

<ion-content fullscreen="true" slot="fixed" >
  <div id="profile-bg"><img [src] = 'logo'></div>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image" [src]="form.controls.image.value">
      <h3 id="profile-name">{{form.controls.firstname.value}} {{form.controls.lastname.value}}</h3>
      <span id="profile-description">{{form.controls.username.value}}</span>
    </div>
      <!--
      <ion-item ng-repeat="post in posts">
        <img class="post-profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
        {{ 'this is the text' }}
        <div class="post-time">{{ 'Jan 2020' }}</div>
        <div class="post-options">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-icon name="shuffle-outline"></ion-icon>
        </div>
      </ion-item> -->
      <ion-slide>
        <div class="contaier-login">
          <form [formGroup]="form" (ngSubmit)="save()">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-label position="floating">Username</ion-label>
                                <ion-input formControlName="username" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                                <!--<ion-icon name="lock-closed-outline"></ion-icon> -->
                                <ion-label position="floating" >Email</ion-label>
                                <ion-input formControlName="email" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                              <!--<ion-icon name="lock-closed-outline"></ion-icon> -->
                              <ion-label position="floating" >Mobile </ion-label>
                              <ion-input formControlName="mobile" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                              <!--<ion-icon name="lock-closed-outline"></ion-icon> -->
                              <ion-label position="floating" >Address1 </ion-label>
                              <ion-input formControlName="address1" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                              <!--<ion-icon name="lock-closed-outline"></ion-icon> -->
                              <ion-label position="floating" >Address2 </ion-label>
                              <ion-input formControlName="address2" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                              <!--<ion-icon name="lock-closed-outline"></ion-icon> -->
                              <ion-label position="floating" >City </ion-label>
                              <ion-input formControlName="city" type="text"></ion-input>
                            </ion-item>
                            <ion-item>
                              <!--<ion-icon name="lock-closed-outline"></ion-icon> -->
                              <ion-label position="floating" >Region </ion-label>
                              <ion-input formControlName="region" type="text"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" color="primary">
                            Update
                        </ion-button>
                        <ion-button type="button" color="warning" (click) = 'changepassword()'>
                          Change Password
                        </ion-button>
                        <ion-button type="button" color="danger" (click) = 'logout()'>
                          Logout
                      </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
          </form>
          </div>
        </ion-slide>

  </div>

</ion-content>

<!--
  https://chrisgriffith.wordpress.com/2019/05/14/ionic-design-profile-page/
  
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header> -->