<ion-header translucent no-border>
  <ion-toolbar color="secondary ">
    Dashboard
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<app-room [rooms] = "rooms"> </app-room>  -->
  <app-room-detail [data] = "rooms[0]"></app-room-detail>
</ion-content>
