$ion-color-primary: #235ea5;
$ion-color-primary2: #3d71b0;
$ion-color-dark: #222428;
$ion-color-grey-dark: #1e2023;
$ion-color-grey-light: #595959;
$ion-color-grey-lighter: #808080;
$ion-color-danger: #eb445a;
$uvsa-color-blue: pink;
$ion-color-white2: #ffffffa3;