@import "./custom_variable.scss";

app-lectures-summary,
app-tasks-list,
app-home-news,
app-home-index,
app-history-index {
    ion-toolbar {
        padding-left: 1rem;
    }
    ion-item {
        background-color: $ion-color-dark;
        padding: 0.75rem 0;
        ion-note {
            flex-direction: row-reverse;
            display: flex;
            flex: 1;
        }
    }
    .list-avatar-page {
        ion-note {
          font-size: 12px;
          align-self: flex-start;
          margin-top: 14px;
        }
      }
    
    .ion-item-content {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        h2 {
            margin-top: 0rem;
            font-size: 17px;
        }
        p {
            margin: 0rem;
            color: $ion-color-grey-lighter;
            font-size: 15px;
        }
    }
}

.custom-textbox-color {
    ion-input {
        background-color: $ion-color-primary2;
        color: $ion-color-grey-dark;
    }
    div.item-native, div.item-inner {
        background-color: $ion-color-primary2 !important;
    }
}

ion-list-header {
    margin-bottom: 1rem;
}

ion-modal.news-detail {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

ion-icon {
    &[class*="custom-youtubelive"] {
        mask-image: url('~/assets/icon/youtubelive.svg');
    }
}

.ion-text-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.flex {
    display: flex;
    flex: 1;
    flex-direction: column;
    /*ion-button {

    }*/
}

textarea {
    resize: none;
 }

.action-sheet-group {
    background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .action-sheet-group {
    background: #e5e5e5;
}
.my-custom-class {
    --background: #e5e5e5;
}

.swiper-pagination-bullet {
    background: $ion-color-grey-dark;
}
.swiper-pagination-bullet-active {
    background: $ion-color-primary;
}

h4.title {
    margin-bottom: 0px;
    padding-left: 1rem;
    color: $ion-color-primary;
    font-size: 18px;
    font-weight: 700;
}

.red {
    color: $ion-color-danger;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    
    ion-thumbnail {
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
          }
    }
}

.adjust {
    transform: inherit;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.right { 
    float: right;
}
.center {
    text-align: center;
}

.my-custom-modal-small {
    .modal-wrapper {
        height: 20%;
        width: 50%;
        position: absolute; 
        display: block;
    }
 }

 .my-custom-modal-medium {
    .modal-wrapper {
        height: 80%;
        width: 80%;
        position: absolute; 
        display: block;
    }
 }

.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

p.label {
    color: $ion-color-white2;
}

p.label2 {
    color: $ion-color-white2;
}

p.sub-label {
    font-size: .70rem !important;
    color: $ion-color-white2;
}

.div-spinner {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    align-items: center;
}