<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form >
    <ion-item *ngFor = "let data of data; let idx = index">
      <ion-label position="floating">{{data.placeholder}}</ion-label>
      <ion-input *ngIf = 'data.type!=="date"'  type='{{data.type}}' [(ngModel)] = 'inputVars[idx]' name="inputVars[{{idx}}]" max='{{data.max}}' ></ion-input>
      <ion-datetime *ngIf = 'data.type==="date"' [(ngModel)] = 'inputVars[idx]' name="inputVars[{{idx}}]" displayFormat="MMM DD, YYYY HH:mm" min="2020-01-01" max="2020-12-30"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button (click) = 'dismissModal()'> Submit </ion-button>
    </ion-item>
  </form>

</ion-content>
