<ion-content color = "dark">
  <div class = 'div-spinner' *ngIf="!data || data.title == ''">
    <ion-spinner color = "primary"></ion-spinner>
  </div>

  <div class = "content" *ngIf="data">
    <div class = "header">
     <header> {{data.title}} </header> 
      <span> {{data.summary}} </span>
    </div>
    <div class = "circle">
      <ion-icon class = "main" name="ellipse" color = "{{data.safe ? 'primary' : 'danger'}}" style="position:relative">
      </ion-icon>
      <span> {{ data.safe? 'Safe' : 'Danger' }} </span>
    </div>
    <div class = "sub">
        <span> <ion-icon name="ellipse" color = "primary"> </ion-icon>  <p>UAC OPERATIONS IS PROHIBITED</p></span>
        <span> <ion-icon name="ellipse" color = "danger"> </ion-icon>  <p>UAC OPERATIONS IS OK</p></span>
    </div>
    <div>
      <ion-item class = "ion-toggle">
        <ion-label>Swipe to {{data.safe === true ? "DANGER" : "SAFE"}}</ion-label>
        <ion-toggle (ionChange) = "swipe()" checked="{{data.safe}}"></ion-toggle>
      </ion-item>
    </div>
  </div>
</ion-content>
