@import "../../../../assets/custom_variable.scss";
app-room-detail {
    div.content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        ion-icon.main {
            font-size: 15rem;
        }
        div.header {
            display: flex;
            flex-direction: column;
            align-items: center;
            header {
                font-size: 1.25rem;
                margin-bottom: 3px;
            }
            span {
                font-size: .80rem;
                color: $ion-color-grey-lighter;
            }
        }
        div.sub {
            display: flex;
            flex-direction: column;
            span {
                flex-direction: row;
                display: flex;
            }
            p {
                font-size: .50rem;
                margin-top: 3px;
                margin-left: 3px;
            }
        }
        ion-item.ion-toggle {
            border-radius: 20px;
            width: 17rem;
            background-color: $ion-color-dark;
            > div.item-native { // this is not working
                --background-color: #000 !important;
                --border-style: none !important;
            }
            ion-label {
                position: fixed;
                width: 10rem;
                z-index: 30;
                text-align: center;
                align-items: flex-end;
                margin-left: 2rem;
            }
            ion-toggle {
                width: 20rem;
                height: 4vh;
                --background: red;
                //--background-checked: red;
              
                //--handle-background: #7a49a5;
                //--handle-background-checked: #000;
            }
        }

        div.circle {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                position: relative;
                z-index: 10000;
                top: -8rem;
                text-transform: uppercase;
            }
        }
    }
}
