<ion-header translucent no-border>
  <ion-toolbar color="secondary ">
    History
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<app-room [rooms] = "rooms"> </app-room>  -->
  <app-room-history [data] = "data"></app-room-history>
</ion-content>
