<ion-list #ionList class = "dark">
  <!--<ion-list-header>Rooms</ion-list-header> -->

  <div *ngIf="rooms.length < 1">
    <app-loader-content></app-loader-content>
  </div>
  
  <div *ngFor = "let item of rooms">
    <ion-item (click) = "gotoDetail(item)" color = "dark">
      <!--<ion-avatar item-start>
        <img [src]="item.teacher_image">
      </ion-avatar> -->
      <div class = 'ion-item-content'>
        <h2>{{item.title}} </h2>
          <!-- <ion-icon name = "logo-youtube" color = 'danger' *ngIf = "item.isLive"></ion-icon>
        </h2> -->
        <p>{{item.summary}}</p>
      </div>
      <ion-note item-end> <!--<ion-icon name="ellipse-outline" ></ion-icon> --> </ion-note>
      <ion-icon name="chevron-forward-outline" color = "{{ item.safe ? 'success' : 'danger' }}"></ion-icon>
    </ion-item>
  </div>
</ion-list>

<!--a
<ion-button class = 'right' (click) = 'createLecture()'>
  Create Lecture
</ion-button> -->